<div class="row h-75">
    <div class="col-12 justify-content-center align-items-center flex-columnn">
        <div class="alert alert-danger my-0 d-flex justify-content-center w-50 rounded-10" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" class="my-5 col-6" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
            </div>
            <div class="form-group px-5 mt-2 flex-columnn">
                <button class="btn btn-success rounded-10" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
                <p class="my-2 ml-1">{{ isLoginMode ? 'not yet registered?' : 'already registered?'}}</p>
                <button class="btn btn-success rounded-10" type="button" (click)="onSwitchAuthMode(authForm)">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>