<div class="">
    <div class="pt-3 d-flex flex-lg-row align-items-lg-stretch flex-xl-row align-items-xl-stretch flex-column align-items-center">
        <div class="col-5 d-flex justify-content-center">
            <img [src]="product.picture" alt="" class="img-responsive width-500">
        </div>
        <div class="col-7 flex-columnn justify-content-between">
            <div class="my-5">
                <h1>{{product.name}}</h1>
            </div>
            <div class="my-4">
                <h1>Description</h1>
                <p class="overflow-scroll" style="font-size:xx-large;">{{product.description}}</p>
                <div class="w-100 d-flex justify-content-around">
                    <button mat-button (click)="onAddToFavourites()">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-button (click)="onAddToCart()">
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>