<div class="width-350 d-flex justify-content-center">
    <span>
      <img [src]="favourite.picture" alt="" class="img-responsive">
    </span>
  </div>
  <div class="width-350">
    <h3>{{ favourite.name }}</h3>
    <p>{{ favourite.shortDescription }}</p>
  </div>
  <div class="width-350 flex-roww">
    <div class="w-50 align-items-start">{{ favourite.price }}</div>
    <div class="w-50 flex-roww">
      <div class="w-50 d-flex justify-content-center">
        <button mat-icon-button (click)="onDeleteFavourite()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div  class="w-50 d-flex justify-content-center">
        <button mat-icon-button (click)="onAddToCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>